.content {
    font-size: 0.85rem;
}

.form-control-sm {
    width: 100%;
}

.main_container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: 60vh;
}

.form-column {
    display: block;
}

.div-collapse {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.div-collapse2 {
    margin-top: 10px;
    height: 100%;
}

.row-1 {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 10px;
}

.row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-weight: bold;
}

.div-opt {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-comentariu {
    height: 207px;
    vertical-align: text-top;
}

/*
        Submit button
 */


.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin-right: 20px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

.cancelButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd6e6e), color-stop(1, #9c4646));
	background:-moz-linear-gradient(top, #bd6e6e 5%, #9c4646 100%);
	background:-webkit-linear-gradient(top, #bd6e6e 5%, #9c4646 100%);
	background:-o-linear-gradient(top, #bd6e6e 5%, #9c4646 100%);
	background:-ms-linear-gradient(top, #bd6e6e 5%, #9c4646 100%);
	background:linear-gradient(to bottom, #bd6e6e 5%, #9c4646 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd6e6e', endColorstr='#9c4646',GradientType=0);
	background-color:#bd6e6e;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.cancelButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9c4646), color-stop(1, #bd6e6e));
	background:-moz-linear-gradient(top, #9c4646 5%, #bd6e6e 100%);
	background:-webkit-linear-gradient(top, #9c4646 5%, #bd6e6e 100%);
	background:-o-linear-gradient(top, #9c4646 5%, #bd6e6e 100%);
	background:-ms-linear-gradient(top, #9c4646 5%, #bd6e6e 100%);
	background:linear-gradient(to bottom, #9c4646 5%, #bd6e6e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c4646', endColorstr='#bd6e6e',GradientType=0);
	background-color:#9c4646;
}

