.main_container {
    width: 100%;
    padding-top: 15px;
    margin: 15px;
    display: flex;
}

.form-group {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    font-size: 0.8rem;
}

label {
    margin-bottom: 5px;
}

.btn {
    margin-left: 10px;
    min-width: 100px;
}

.form-filter {
    width: 250px;
    min-width: 250px;
    box-shadow: 4px 4px 14px #a19d9d;
    margin-right: 15px;
    height: 500px;
    font-size: 15px;
}

.form-control-sm {
    width: 100%;
    border-color: #c1c1c1;
}

.table-container {
    display: block;
    width: 100%;
}

.pagination-container {
    margin: 20px 20px auto 20px;
}

.pagination li.page-item.active .page-link {
    background-color: #2e507a;
    border-color: #2e507a;
    color: white;
}

.pagination li.page-item.active .page-link:hover {
    background-color: #03465C;
}

.pagination li.page-item .page-link {
    color: #2e507a;
}

/* Zebra striping
tr:nth-of-type(odd) {
    background: #eee;
}*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media screen and (max-width: 766.99px) {
    .form-group {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 574.99px) {
    .main_container {
        display: block;
        width: 100%;
    }

    .filtru {
        height: 250px;
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0 0;
        margin-bottom: 15px;
    }

    .div-table {
        display: block;
    }

    form {
        display: block;
    }
}

@media screen and (max-width: 574.99px) {
    .form-filter {
        max-height: 250px;
        box-shadow: 0 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }
}