<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Add payment</h1>

    <div class="well">
      <form role="form" ng-submit="vm.payment()">

        <div class="form-group">
          <label for="payment__user">User</label>
          <select class="form-control" id="payment__user" ng-model="vm.user" />
        </div>

        <div class="form-group">
          <label for="payment__category">Category</label>
          <select class="form-control" id="payment__category" ng-model="vm.category" />
        </div>

        <div class="form-group">
          <label for="payment__subcategory">Subcategory</label>
          <select class="form-control" id="payment__subcategory" ng-model="vm.subcategory" />
        </div>

        <div class="form-group">
          <label for="payment__sum">Suma</label>
          <input type="number" class="form-control" id="payment__sum" ng-model="vm.sum" />
        </div>

        <div class="form-group">
            <label for="payment__opt_payment">Optiuni de plata</label>
            <select class="form-control" id="payment__opt_payment" ng-model="vm.opt_payment" />
            <label for="payment__nb_opt_paymeny">Numar optiuni de plata</label>
            <input type="number" class="form-control" id="payment__nb_opt_paymeny" ng-model="vm.nb_opt_payment"/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>