{% load static %}
<!doctype html>
<html lang="en" data-pgc-master="master.html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Casuta | Vizualizare luna</title>
        <link href=" {% static "money/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "money/css/navbar.css" %}" rel="stylesheet">
        <link href="{% static "money/css/view_month.css" %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include "navbar.html" %}
        <section class="content">
            <div class="d-flex container-fluid justify-content-center" data-pgc-field="content">
                <div class="main_container">
                    <div class="filtru">
                        <form role="form"> 
                            <div class="form-group form-group-left"> 
                                <label for="select_luna">Luna</label>
                                <select class="form-control filtru-ctrl filtru-luna" id="select_luna">
                                    {% for luna in luni %}
                                        {% if forloop.counter == selected_month %}
                                            <option selected>{{ luna }}</option>
                                        {% else %}
                                            <option>{{ luna }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>                                                                  
                            </div>
                            <div class="form-group"> 
                                <label for="select_categorie">Categorie</label>
                                <select class="form-control filtru-ctrl" id="select_categorie">
                                    <option></option>
                                    {% for categorie in categorii %}
                                        <option>{{ categorie }}</option>
                                    {% endfor %}
                                </select>                                                                  
                            </div>
                            <div class="form-group">
                                <label for="select_subcategorie">Subcategorie</label>
                                    <select class="form-control filtru-ctrl filtru-subcategorie" id="select_subcategorie">
                                </select>                                                                  
                            </div>                                                                                                                                                 
                        </form>
                    </div>


                        <div class="div-table">
                            <table class="table" id="monthTable">
                                <thead>
                                    <tr>
                                        <th>Nume</th>
                                        <th>Categorie</th>
                                        <th>Subcategorie</th>
                                        <th>Data</th>
                                        <th>Suma</th>
                                        <th>Optiuni plata</th>
                                        <th>Numar optiuni</th>
                                        <th>Comentariu</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% if error_message %}
                                        <tr class="empty">
                                            <td class="empty" colspan="10"><h5>{{ error_message }}</h5></td>
                                        </tr>
                                    {% else %}
                                        {% for payment in payments %}
                                            <tr>
                                                <td>{{ payment.user }}</td>
                                                <td>{{ payment.category }}</td>
                                                <td>{{ payment.subcategory }}</td>
                                                <td>{{ payment.date }}</td>
                                                <td>{{ payment.sum }}</td>
                                                <td>{{ payment.option_pay }}</td>
                                                <td>{{ payment.nb_option }}</td>
                                                <td class="td-comments">{{ payment.comments }}</td>
                                                <td class="td-btn">
                                                    <div class="div-btn">
                                                        <a href="{% url "update_payment" id=payment.id %}?next={{ request.path }}" role="button" class="btn btn-warning btn-sm" id="modify_button">Modificare</a>
                                                        <button type="submit" class="btn btn-danger btn-sm" id="delete_button" payment_id="{{ payment.id }}">Sterge</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>
        </section>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static  "money/js/jquery.min.js" %}"></script>
        <script src="{% static "money/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "money/js/view_month.js" %}"></script>
    </body>
</html>
