@media only screen and (max-width: 1024px) {

    .no-data {
        display: none !important;
    }

    .main-container {
        margin: auto;
    }

    .table-bordered {
        border: none;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        overflow: hidden;
        padding-left: 48%;
        text-align: right;
    }

    .td-btn {
        width: 100%;
    }

    .row-actions {
        display: flex;
        justify-content: center;
    }

    .row-actions .btn img {
        width: 25px;
        height: 25px;
        filter: invert(1)
    }

    td:before {
        /* Now like a table header */
        position: absolute;

        /* Top/left values mimic padding */
        top: 13px;
        left: 5px;

        /* width: 35% */
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Tip";
    }

    td:nth-of-type(2):before {
        content: "Nume";
    }

    td:nth-of-type(3):before {
        content: "Companie";
    }

    td:nth-of-type(4):before {
        content: "Numar";
    }

    td:nth-of-type(5):before {
        content: "Data semnarii";
    }

    td:nth-of-type(6):before {
        content: "Data rezilierii";
    }

    td:nth-of-type(7):before {
        content: "Plata lunara";
    }

    td:nth-of-type(7):after {
        content: " €";
    }

    td:nth-of-type(8) {
        display: none;
    }

    td:nth-of-type(9):before {
        content: "Status";
    }

    tfoot {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .action-container {
        margin-bottom: 10px;
    }

    .action-container-create {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .btn-filter {
        margin-right: 5px;
    }
}