{% load static %}
<!doctype html>
<html lang="en" data-pgc-master="master.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Casuta | Vizualizare contracte</title>
    <link href=" {% static "money/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "money/css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "contracts/css/index_contracts.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "contracts/css/table.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "contracts/css/table_mobile.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include "navbar.html" %}
<section class="content">
    <div class="row" class="main-row">
        <div class="col-xl-9 main-container">
            {% include 'contract/contract_table.html' %}
        </div>
    </div>
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static  "money/js/jquery.min.js" %}"></script>
<script src="{% static "money/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
