{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Casuta noastra</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'money/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "money/css/index.css" %}" rel="stylesheet">
    <link href="{% static "money/css/main_tables.css" %}" rel="stylesheet">
    <link href="{% static "money/css/navbar.css" %}" rel="stylesheet">
</head>
<body>
{% include "navbar.html" %}
<section class="content">
    {% if user.is_authenticated %}
        <div class="col-xl-9 col-lg-9 mainComponent">
            <div class="row">
                <div class="col table-container">
                    {% include "money/index/total_categories_table.html" %}
                </div>
                <div class="col table-container">
                    {% include "money/index/future_payments.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static  "money/js/jquery.min.js" %}"></script>
<script src="{% static "money/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "money/js/resize_window.js" %}"></script>
</body>
</html>
