{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Casuta noastra</title>
        <!-- Bootstrap core CSS -->
        <link href="{%  static 'money/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static "money/css/style.css" %}" rel="stylesheet">
        <link href="{% static "money/css/navbar.css" %}" rel="stylesheet">
    </head>
    <body>
        {% include "navbar.html" %}
        <section class="content">
            {% if user.is_authenticated %}
                <div class="d-flex container-fluid justify-content-center">
                    <div class="row">
                        <div class="col-control offset-md-2 col-md-2">
                            <div>
                                <div class="form-group">
                                    <label for="form_select_luna">Selecteaza luna</label>
                                    <select id="form_select_luna" class="form-control">
                                        {% for luna in luni %}
                                            <option>{{ luna }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-main col-md-6 col-lg-5" style="margin-top: 15px;">
                            <h3 class="div-title">Cheltuieli</h3>
                            <table class="table" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Categorie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static  "money/js/jquery.min.js" %}"></script>
        <script src="{% static "money/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "money/js/get_totals.js" %}"></script>
    </body>
</html>
