{% load static %}
<!doctype html>
<html lang="en" data-pgc-master="master.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Casuta | Vizualizare luna</title>
    <link href=" {% static "money/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href=" {% static "money/bootstrap/css/bootstrap-grid.css" %}" rel="stylesheet">
    <link href="{% static "money/css/navbar.css" %}" rel="stylesheet">
    <link href="{% static "money/css/view_month.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "money/css/table.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "money/css/payment_table.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include "navbar.html" %}
<section class="content">
    <div class="d-flex container-fluid justify-content-center" data-pgc-field="content">
        <div class="main_container">
            <form role="form" class="form-filter">
                <div class="form-group">
                    <label for="select_luna">Luna</label>
                    <select class="form-control-sm filtru-ctrl filtru-luna" id="select_luna">
                        {% for luna in luni %}
                            {% if forloop.counter == selected_month %}
                                <option selected>{{ luna }}</option>
                            {% else %}
                                <option>{{ luna }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="select_categorie">Categorie</label>
                    <select class="form-control-sm filtru-ctrl" id="select_categorie">
                        <option></option>
                        {% for categorie in categorii %}
                            <option>{{ categorie }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="select_subcategorie">Subcategorie</label>
                    <select class="form-control-sm filtru-ctrl filtru-subcategorie" id="select_subcategorie">
                    </select>
                </div>
            </form>
            <div class="table-container">
                {% include 'money/payment/payment_table.html' %}
                <div class="pagination-container">
                    {% include 'money/payment/pagination.html' %}
                </div>
            </div>
        </div>
        {% include "money/payment/msg_box_delete.html" %}
    </div>
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static  "money/js/jquery.min.js" %}"></script>
<script src="{% static "money/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "money/js/view_month.js" %}"></script>
<script src="{% static "money/js/payment/confirm_delete.js" %}"></script>

{% csrf_token %}
<script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

</body>
</html>
